.newsletter{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22);
    gap: 30px;
}

.newsletter h1{
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    font-size: 22px;
}

.ip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: auto;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: auto;
    margin: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 18px;
    font-family: Poppins;
}

.newsletter button{
    width: auto;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media  screen and (max-width: 920px){
    .ip{
        display: flex;
        flex-direction: column;
    }
}