.popular{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.popular h1{
    font-size: 45px;
    font-weight: 600;
    color: #252525; 
}

.popular hr{
    width: 200px;
    height: 6px;
    background: #252525;
    border-radius: 10px;
    color: #252525;
}